@import url("https://fonts.googleapis.com/css?family=Bangers");

/*** Navbar ***/
.navbar-header {
    width: 100px;
}
.curly {
    font-family: "Bangers";
    display: inline;
    color: #00fa2ad5;
}
.letters {
    font-family: "Bangers";
    color: #0075fa;
}


