@import url("https://fonts.googleapis.com/css?family=Bangers");

/*** Navbar ***/
nav .container-fluid {
    display: grid;
    grid-template-columns: 0px 1fr 40% 2fr;
}
.navbar-header {
    display: flex;
    justify-content: center;
}
.navbar-brand {
    font-size: 35px !important;
    margin-right: 40px;
}
.curly {
    font-family: "Bangers";
    display: inline;
    color: #00fa2ad5;
}
.letters {
    font-family: "Bangers";
    color: #0075fa;
}
@media (max-width: 1000px) {
    nav .container-fluid {
        position: relative;
        display: block;
        text-align: center;
    }
    .navbar button {
        position: absolute;
        left: 20px;
    }
    
    #mainNavBar {
        text-align: left;
    }
}
